.relative {
  position: relative
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.flex {
  display: flex
}

.h-10 {
  height: 2.5rem
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.w-1\/12 {
  width: 8.333333%
}

.w-11\/12 {
  width: 91.666667%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.rounded-md {
  border-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-purple-dark {
  --tw-border-opacity: 1;
  border-color: rgb(119 44 232 / var(--tw-border-opacity))
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.pl-1\.5 {
  padding-left: 0.375rem
}

.pl-1 {
  padding-left: 0.25rem
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.opacity-70 {
  opacity: 0.7
}

.opacity-0 {
  opacity: 0
}

.opacity-100 {
  opacity: 1
}

.opacity-25 {
  opacity: 0.25
}
