.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-0 {
  bottom: 0px
}

.right-0 {
  right: 0px
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.mx-64 {
  margin-left: 16rem;
  margin-right: 16rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-0\.5 {
  margin-top: 0.125rem
}

.mt-0 {
  margin-top: 0px
}

.mr-1 {
  margin-right: 0.25rem
}

.-mr-4 {
  margin-right: -1rem
}

.ml-3 {
  margin-left: 0.75rem
}

.ml-1 {
  margin-left: 0.25rem
}

.flex {
  display: flex
}

.h-24 {
  height: 6rem
}

.h-5 {
  height: 1.25rem
}

.h-36 {
  height: 9rem
}

.h-10 {
  height: 2.5rem
}

.h-3 {
  height: 0.75rem
}

.w-\[4\.5rem\] {
  width: 4.5rem
}

.w-52 {
  width: 13rem
}

.w-24 {
  width: 6rem
}

.w-60 {
  width: 15rem
}

.w-full {
  width: 100%
}

.w-1\/12 {
  width: 8.333333%
}

.w-11\/12 {
  width: 91.666667%
}

.w-36 {
  width: 9rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.overflow-hidden {
  overflow: hidden
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-full {
  border-radius: 9999px
}

.border {
  border-width: 1px
}

.border-purple-dark {
  --tw-border-opacity: 1;
  border-color: rgb(119 44 232 / var(--tw-border-opacity))
}

.border-lightGray {
  --tw-border-opacity: 1;
  border-color: rgb(94 94 96 / var(--tw-border-opacity))
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity))
}

.bg-dark-lightAlt {
  --tw-bg-opacity: 1;
  background-color: rgb(31 31 35 / var(--tw-bg-opacity))
}

.bg-dark-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(14 14 16 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-purple {
  --tw-bg-opacity: 1;
  background-color: rgb(145 71 255 / var(--tw-bg-opacity))
}

.bg-dark-light {
  --tw-bg-opacity: 1;
  background-color: rgb(70 70 73 / var(--tw-bg-opacity))
}

.p-1 {
  padding: 0.25rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pl-1\.5 {
  padding-left: 0.375rem
}

.pl-1 {
  padding-left: 0.25rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.pb-8 {
  padding-bottom: 2rem
}

.pb-10 {
  padding-bottom: 2.5rem
}

.font-objektiv-mk1-bold {
  font-family: Objektiv_Mk1_Bold
}

.font-objektiv-mk1-regular {
  font-family: Objektiv_Mk1_Regular
}

.font-objektiv-mk1-light {
  font-family: Objektiv_Mk1_Light
}

.font-objektiv-mk1-thin {
  font-family: Objektiv_Mk1_Thin
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.font-semibold {
  font-weight: 600
}

.leading-5 {
  line-height: 1.25rem
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.\[aspectRatio\:0\.75\] {
  aspect-ratio: 0.75
}

.\[width\:undefined\] {
  width: undefined
}

.\[aspectRatio\:1\] {
  aspect-ratio: 1
}

.\[aspectRatio\:2\] {
  aspect-ratio: 2
}

.\[aspectRatio\:0\.5\] {
  aspect-ratio: 0.5
}
